@media screen and (min-width: 320px) {
	.label-checkbox {
	    position: relative;
	    display: flex;
	    align-items: center;
		.input-checkbox {
			position: absolute;
			visibility: hidden;
		}
		.text {
			padding-left: 30px;
			font-size: 12px;
			transition: color .3s;
		}
		.square {
			position: absolute;
			display: block;
			margin-right: 10px;
			width: 17px;
			height: 17px;
			border: 1px solid #fff;
			box-sizing: border-box;
			transition: border-color .3s;
			svg {
				transform: translate(1px, -3px);
				opacity: 0;
				transition: opacity .3s;
			}
		}
		&_error {
			.square {
				border-color: $main-color
			}
			.text {
				color: $main-color
			}
		}
	}

	.input-checkbox:checked + .square svg {
	    opacity: 1;
	}
}

@media screen and (min-width: 1024px) {
	.label-checkbox {
		&:hover {
			cursor: pointer;
		}
		.square {
			position: absolute;
			&::before {
				top: -7px;
			}
		}
		.text {
			padding-left: 35px;
			font-size: 10px;
		}
	}
}

@media screen and (min-width: 1366px) {
	.label-checkbox {
	    margin-bottom: 30px;
		.square {
			top: -2px;
		}
		.text {
			font-size: 12px;
		}
	}
}

@media screen and (min-width: 1700px) {
	.label-checkbox {
	    margin-bottom: 0;
		.text {
			margin-left: 15px;
			font-size: 16px;
		}
		.square {
			top: 1px;
		}
	}
}