@media screen and (min-width: 320px) {
	.booking-form {
		position: relative;
		display: flex;
		padding: 0 25px 0 35px;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		background-color: #000;
		&__header {
			margin-bottom: 32px;
			font-size: 18px;
			line-height: 28px;
			white-space: pre-wrap;
		}
		.input {
			font-size: 14px;
			line-height: 36px;
		}
		.label-checkbox .text {
			font-size: 10px;
			line-height: 14px;
		}
		& > div {
			display: flex;
			flex-direction: column;
			align-items: stretch;
		}
	}

	.booking-form-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 100px 25px 39px 35px;
		background-color: #000;
		box-sizing: border-box;
		overflow-y: auto;
		&.submitted {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			padding: 0 25px 39px 51px;
		}
		.success-message-wrapper {
			display: flex;
			align-items: center;
		}
		.success {
			font-size: 28px;
			line-height: 36px;
			white-space: pre-wrap;
			&__sub {
				width: 100%;
				margin-top: 14px;
				display: inline-block;
				font-size: 18px;
				line-height: 28px;
				white-space: pre-wrap;
			}
		}
	}
}

@media screen and (min-width: 1024px) {
	.booking-form-wrapper {
		padding: 118px 71px 34px 64px;
		width: calc((var(--scBarWidth) / 2) + 50%);
		left: unset;
		right: 0;
		.wrapper-btn {
			flex-direction: column;
			align-items: start;
			.label-checkbox {
				margin-bottom: 47px;
			}
			.btn_send {
				margin-left: 0;
			}
		}
		.success {
			margin: auto 0;
			font-size: 40px;
			line-height: 50px;
			white-space: pre-wrap;
			&__sub {
				font-size: 18px;
				line-height: 24px;
			}
		}
		&.submitted {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			padding: 0 58px 39px 95px;
		}
	}

	.booking-form__header {
		font-size: 16px;
		line-height: 26px;
	}
}

@media screen and (min-width: 1336px) {
	.booking-form-wrapper {
		padding: 95px 107px 65px 87px;
		&.submitted {
			padding: 95px 78px 65px 160px;
			.success {
				font-size: 50px;
				line-height: 60px;

			}
		}
	}

	.booking-form {
		&__header {
			font-size: 16px;
			line-height: 26px;
		}
		.textarea {
			padding-top: 35px;
			font-size: 16px;
			line-height: 24px;
		}
		.wrapper-btn {
			padding-bottom: 65px;
		}
	}
}

@media screen and (min-width: 1700px) {
	.booking-form-wrapper {
		padding: 161px 136px 101px 157px;
		&.submitted {
			padding: 95px 78px 65px 239px;
			.success {
				font-size: 60px;
				line-height: 70px;
				&__sub {
					font-size: 22px;
					line-height: 36px;
				}
			}
		}
	}

	.booking-form {
		.success {
			font-size: 60px;
			line-height: 70px;
			&__sub {
				font-size: 22px;
				line-height: 36px;
			}
		}
		&__header {
			font-size: 22px;
			line-height: 36px;
		}
		.textarea {
			padding-right: 20px;
			font-size: 18px;
			line-height: 24px;
		}
		.wrapper-btn {
			padding-bottom: 101px;
		}
	}
}