@media screen and (min-width: 320px) {
	.burger {
	    position: absolute;
	    top: 17px;
	    right: 0;
	    z-index: 12;
	    width: 62px;
	    height: 61px;
	    display: flex;
	    flex-direction: column;
	    justify-content: space-between;
	    align-items: flex-end;
		background-color: $main-color;
	    padding: 20px 12px 20px 0;
	    box-sizing: border-box;
	    transition: 0.3s;
		pointer-events: auto;
	}

	.burger:hover {
	    cursor: pointer;
	}

	.burger__item {
	    width: 36px;
	    height: 3px;
	    background-color: #fff;
	    transition: 0.3s;
	}

	.burger_active {
	    background-color: black;
	}

	.burger_active .burger__item {
	    width: 26px;
	}

	.burger_active .burger__item:nth-child(2) {
	    transform: scale(0, 0);
	}

	.burger_active .burger__item:nth-child(1) {
	    transform-origin: left center;
	    transform: rotate(45deg);
	}

	.burger_active .burger__item:nth-child(3) {
	    transform-origin: left center;
	    transform: rotate(-45deg);
	}
}

@media screen and (min-width: 1024px) {
	.burger {
	    top: 32px;

	}

	.burger_active {
		right: calc(-1 * var(--scBarWidth, 0px));
	}
}

@media screen and (min-width: 1366px) {
	.burger {
	    top: 67px;
	}
}

@media screen and (min-width: 1700px) {
	.burger {
	    display: none;
	}
}