@media screen and (min-width: 320px) {
  .filter {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;

    &__header {
      padding: 0;
      display: inline-flex;
      flex: 1 0 auto;
      justify-content: space-between;
      align-items: stretch;
      font-size: 18px;
      line-height: 180%;
      color: #fff;
      box-sizing: border-box;
    }

    .filter-open-button {
      padding: 15px 25px 15px 26px;
      flex: 1 0 200px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: inherit;
      line-height: inherit;
      color: inherit;
      background: #B41836;
      box-sizing: border-box;

      span {
        display: inline-flex;
      }

      svg {
        transform: rotate(90deg);
        transition: transform .5s;
      }

      &.open {
        svg {
          transform: rotate(270deg);
        }
      }
    }

    .display-type {
      display: inline-flex;
      justify-content: flex-end;
      width: 120px;
      box-sizing: border-box;

      &__item {
        display: inline-flex;
        margin: 0;
        padding: 0;
        background-color: transparent;

        &.active {
          rect {
            fill: #b41836;
          }
        }

        &:last-child {
          margin: 0 20px;
        }
      }

      &.disabled {
        pointer-events: none;
        opacity: .3;
      }
    }

    .filter-list-overlay {
      background-color: transparent;
      transition: background-color .5s;
    }

    .filter-list {
      margin: 0;
      padding: 0 18px 15px 26px;
      display: flex;
      width: calc(100% - 120px);
      flex-direction: column;
      list-style-type: none;
      background: #B41836;
      box-sizing: border-box;

      &__item {
        margin-bottom: 7px;
        color: #fff;
      }

      span {
        display: inline-block;
        font-size: 16px;
        line-height: 180%;
        font-weight: 600;
      }
    }

    .Collapsible {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      z-index: 1;
    }

    .Collapsible__contentOuter {
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
    }

    .Collapsible__trigger {
      position: relative;
      display: flex;
      flex: 1 0 200px;
      z-index: 1;
    }
  }
}

@media screen and (min-width: 1024px) {
  .filter {
    position: static;
    min-width: 310px;
    width: auto;

    .filter-list {
      padding: 0 18px 15px 70px;
      width: auto;
      background: transparent;

      &__item {
        color: #000;

        &.active {
          color: #b41836;
        }
      }

      span {
        transition: color .3s;

        &:hover {
          cursor: pointer;
          color: #b41836;
        }
      }
    }

    .display-type {
      width: 100px;
      margin: 0 0 36px 70px;

      &__item {
        rect {
          transition: fill .3s;
        }

        &:hover {
          cursor: pointer;

          rect {
            fill: #b41836;
          }
        }
      }
    }

    .Collapsible__trigger {
      display: none;
    }

    .Collapsible__contentOuter {
      height: auto !important;
    }
  }
}

@media screen and (min-width: 1366px) {
  .filter {
    min-width: 330px;
    .filter-list {
      padding: 0 18px 15px 80px;
      &__item {
        margin-bottom: 0;
      }
      span {
        font-size: 18px;
        line-height: 180%;
      }
    }
    .display-type {
      margin: 0 0 36px 80px;
    }
  }
}

@media screen and (min-width: 1700px) {
  .filter {
    .filter-list {
      padding: 0 18px 15px 130px;
    }
    .display-type {
      margin: 0 0 36px 130px;
    }
  }
}