@media screen and (min-width: 320px) {

	html {
		--scale-ratio: 1;
	}

	body {
		position: relative;
		margin: 0;
		height: 100%;
		font-family: $stolz-book, sans-serif;
		font-size: 18px;
		background-color: #000;
		color: #fff;
		overflow-x: hidden;
	}

	button,
	input,
	a,
	div {
		border-radius: 0;
		border: none;
		&:active,
		&:hover,
		&:focus {
			outline: none;
			outline-offset: 0;
			-webkit-tap-highlight-color: rgba(0,0,0,0);
		}
	}

	textarea {
		overflow: hidden;
		resize: none;
		font-family: $stolz-book, sans-serif;
		font-size: 18px;
		border: 0;
		border-radius: 0;
		&:focus {
			outline: none
		}
	}

	.btn {
		padding: 17px 50px;
		border: 1px solid #fff;
		font-family: $stolz-book, sans-serif;
		background-color: transparent;
		font-size: 22px;
		letter-spacing: 1px;
		color: #fff;
		text-transform: uppercase;
		box-sizing: border-box;
	}

	.stop-scrolling {
		height: 100%;
		overflow: hidden;
	}

	.d-flex {
		display: flex;
	}

	.driving-directions {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: rgba(0, 0, 0, .5);
		z-index: 999;
		img {
			max-width: 100%;
			max-height: 100%;
			display: block;
		}
		.close {
			display: flex;
			position: absolute;
			right: 0;
			top: 0;
			padding: 15px;
			margin: 0;
			background-color: #000;
			box-sizing: border-box;
		}
	}
}
@media screen and (min-width: 1024px) {
	.driving-directions {
		.close {
			cursor: pointer;
		}
	}
}