@keyframes slide-in-right {
	0% {
		transform: translate3d(100%, 0, 0);
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes slide-out-right {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(100%, 0, 0);
	}
}

@keyframes fade-in-up {
	0% {
		background-color: rgba(0, 0, 0, 0);
	}
	100% {
		background-color: rgba(0, 0, 0, 0.3);
	}
}

@keyframes fade-out-up {
	0% {
		background-color: rgba(0, 0, 0, 0.3);
	}
	100% {
		background-color: rgba(0, 0, 0, 0);
	}
}

@keyframes once-animate-fade-in-up-slider-title {
	0% {
		transform: translate3d(2000px, 0, 0);
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes booking-form-slide-in-right {
	0% {
		right: -100%;
	}
	100% {
		right: 0;
	}
}

@keyframes booking-form-slide-out-right {
	0% {
		right: 0;
	}
	100% {
		right: -100%;
	}
}

@keyframes btn-close-in-right {
	0% {
		right: calc(var(--scBarWidth) - 100%);
	}
	100% {
		right: calc(-1px + var(--scBarWidth));
	}
}

@keyframes btn-close-out-right {
	0% {
		right: calc(-1px + var(--scBarWidth));
	}
	100% {
		right: calc(var(--scBarWidth) - 100%);
	}
}

@keyframes glitch-anim {
	0% {
		clip: rect(174px, 9999px, 53px, -36px);
		transform: translate3d(5.5px, 3.3px, 7.3px);
	}
	3.3333333333% {
		clip: rect(49px, 9999px, 589px, -36px);
		transform: translate3d(3.7px, 4.2px, 9px);
	}
	6.6666666667% {
		clip: rect(191px, 9999px, 656px, -36px);
		transform: translate3d(3.2px, 7.3px, 7.3px);
	}
	10% {
		clip: rect(164px, 9999px, 197px, -36px);
		transform: translate3d(2.1px, 6.1px, 0.9px);
	}
	13.3333333333% {
		clip: rect(143px, 9999px, 310px, -36px);
		transform: translate3d(2.5px, 7.9px, 5.7px);
	}
	16.6666666667% {
		clip: rect(119px, 9999px, 430px, -36px);
		transform: translate3d(8.2px, 5.5px, 1px);
	}
	20% {
		clip: rect(75px, 9999px, 38px, -36px);
		transform: translate3d(2.2px, 7.3px, 7.3px);
	}
	23.3333333333% {
		clip: rect(37px, 9999px, 438px, -36px);
		transform: translate3d(9.2px, 8.9px, 9.3px);
		filter: hue-rotate(109deg);
	}
	26.6666666667% {
		clip: rect(23px, 9999px, 455px, -36px);
		transform: translate3d(7.2px, 5.2px, 9.8px);
	}
	30% {
		clip: rect(53px, 9999px, 243px, -36px);
		transform: translate3d(8.7px, 8px, 1.8px);
	}
	33.3333333333% {
		clip: rect(9px, 9999px, 69px, -36px);
		transform: translate3d(5.9px, 1.6px, 3.8px);
		filter: hue-rotate(1deg);
	}
	36.6666666667% {
		clip: rect(75px, 9999px, 193px, -36px);
		transform: translate3d(4.2px, 3px, 7.8px);
	}
	40% {
		clip: rect(12px, 9999px, 37px, -36px);
		transform: translate3d(4.1px, 0.8px, 8.1px);
	}
	43.3333333333% {
		clip: rect(90px, 9999px, 89px, -36px);
		transform: translate3d(4px, 8.2px, 7.5px);
	}
	46.6666666667% {
		clip: rect(64px, 9999px, 21px, -36px);
		transform: translate3d(1.4px, 9.8px, 4px);
	}
	50% {
		clip: rect(79px, 9999px, 347px, -36px);
		transform: translate3d(8.1px, 0.5px, 4.1px);
	}
	53.3333333333% {
		clip: rect(62px, 9999px, 372px, -36px);
		transform: translate3d(6.9px, 2.7px, 2.1px);
	}
	56.6666666667% {
		clip: rect(57px, 9999px, 609px, -36px);
		transform: translate3d(7.6px, 4px, 6.6px);
	}
	60% {
		clip: rect(91px, 9999px, 97px, -36px);
		transform: translate3d(4.2px, 6.5px, 9.9px);
	}
	63.3333333333% {
		clip: rect(1px, 9999px, 159px, -36px);
		transform: translate3d(3.4px, 4.5px, 3px);
	}
	66.6666666667% {
		clip: rect(108px, 9999px, 372px, -36px);
		transform: translate3d(5px, 3.2px, 4.3px);
	}
	70% {
		clip: rect(68px, 9999px, 47px, -36px);
		transform: translate3d(8.8px, 9.4px, 9.3px);
	}
	73.3333333333% {
		clip: rect(69px, 9999px, 215px, -36px);
		transform: translate3d(9.6px, 9.5px, 6.5px);
	}
	76.6666666667% {
		clip: rect(68px, 9999px, 21px, -36px);
		transform: translate3d(7px, 6.7px, 3.3px);
	}
	80% {
		clip: rect(51px, 9999px, 406px, -36px);
		transform: translate3d(1.7px, 5.2px, 6.3px);
	}
	83.3333333333% {
		clip: rect(193px, 9999px, 705px, -36px);
		transform: translate3d(9.9px, 0.2px, 6px);
	}
	86.6666666667% {
		clip: rect(11px, 9999px, 82px, -36px);
		transform: translate3d(6.4px, 4px, 4.8px);
	}
	90% {
		clip: rect(1000px, 9999px, 1000px, -36px);
		transform: translate3d(0, 0, 0);
		left: 0;
		text-shadow: 0 0 transparent;
	}
	93.3333333333% {
		clip: rect(1000px, 9999px, 1000px, -36px);
		transform: translate3d(0, 0, 0);
		left: 0;
		text-shadow: 0 0 transparent;
	}
	96.6666666667% {
		clip: rect(1000px, 9999px, 1000px, -36px);
		transform: translate3d(0, 0, 0);
		left: 0;
		text-shadow: 0 0 transparent;
	}
	100% {
		clip: rect(1000px, 9999px, 1000px, -36px);
		transform: translate3d(0, 0, 0);
		left: 0;
		text-shadow: 0 0 transparent;
	}
}

@keyframes glitch-anim2 {
	0% {
		clip: rect(174px, 9999px, 53px, -36px);
		transform: translate3d(5.5px, 3.3px, 7.3px);
	}
	3.3333333333% {
		clip: rect(49px, 9999px, 589px, -36px);
		transform: translate3d(3.7px, 4.2px, 9px);
	}
	6.6666666667% {
		clip: rect(191px, 9999px, 656px, -36px);
		transform: translate3d(3.2px, 7.3px, 7.3px);
	}
	10% {
		clip: rect(164px, 9999px, 197px, -36px);
		transform: translate3d(2.1px, 6.1px, 0.9px);
	}
	13.3333333333% {
		clip: rect(143px, 9999px, 310px, -36px);
		transform: translate3d(2.5px, 7.9px, 5.7px);
	}
	16.6666666667% {
		clip: rect(119px, 9999px, 430px, -36px);
		transform: translate3d(8.2px, 5.5px, 1px);
	}
	20% {
		clip: rect(75px, 9999px, 38px, -36px);
		transform: translate3d(2.2px, 7.3px, 7.3px);
	}
	23.3333333333% {
		clip: rect(37px, 9999px, 438px, -36px);
		transform: translate3d(9.2px, 8.9px, 9.3px);
		filter: hue-rotate(109deg);
	}
	26.6666666667% {
		clip: rect(23px, 9999px, 455px, -36px);
		transform: translate3d(7.2px, 5.2px, 9.8px);
	}
	30% {
		clip: rect(53px, 9999px, 243px, -36px);
		transform: translate3d(8.7px, 8px, 1.8px);
	}
	33.3333333333% {
		clip: rect(9px, 9999px, 69px, -36px);
		transform: translate3d(5.9px, 1.6px, 3.8px);
		filter: hue-rotate(1deg);
	}
	36.6666666667% {
		clip: rect(75px, 9999px, 193px, -36px);
		transform: translate3d(4.2px, 3px, 7.8px);
	}
	40% {
		clip: rect(12px, 9999px, 37px, -36px);
		transform: translate3d(4.1px, 0.8px, 8.1px);
	}
	43.3333333333% {
		clip: rect(90px, 9999px, 89px, -36px);
		transform: translate3d(4px, 8.2px, 7.5px);
	}
	46.6666666667% {
		clip: rect(64px, 9999px, 21px, -36px);
		transform: translate3d(1.4px, 9.8px, 4px);
	}
	50% {
		clip: rect(79px, 9999px, 347px, -36px);
		transform: translate3d(8.1px, 0.5px, 4.1px);
	}
	53.3333333333% {
		clip: rect(62px, 9999px, 372px, -36px);
		transform: translate3d(6.9px, 2.7px, 2.1px);
	}
	56.6666666667% {
		clip: rect(57px, 9999px, 609px, -36px);
		transform: translate3d(7.6px, 4px, 6.6px);
	}
	60% {
		clip: rect(91px, 9999px, 97px, -36px);
		transform: translate3d(4.2px, 6.5px, 9.9px);
	}
	63.3333333333% {
		clip: rect(1px, 9999px, 159px, -36px);
		transform: translate3d(3.4px, 4.5px, 3px);
	}
	66.6666666667% {
		clip: rect(108px, 9999px, 372px, -36px);
		transform: translate3d(5px, 3.2px, 4.3px);
	}
	70% {
		clip: rect(68px, 9999px, 47px, -36px);
		transform: translate3d(8.8px, 9.4px, 9.3px);
	}
	73.3333333333% {
		clip: rect(69px, 9999px, 215px, -36px);
		transform: translate3d(9.6px, 9.5px, 6.5px);
	}
	76.6666666667% {
		clip: rect(68px, 9999px, 21px, -36px);
		transform: translate3d(7px, 6.7px, 3.3px);
	}
	80% {
		clip: rect(51px, 9999px, 406px, -36px);
		transform: translate3d(1.7px, 5.2px, 6.3px);
	}
	83.3333333333% {
		clip: rect(193px, 9999px, 705px, -36px);
		transform: translate3d(9.9px, 0.2px, 6px);
	}
	86.6666666667% {
		clip: rect(11px, 9999px, 82px, -36px);
		transform: translate3d(6.4px, 4px, 4.8px);
	}
	90% {
		clip: rect(1000px, 9999px, 1000px, -36px);
		transform: translate3d(0, 0, 0);
		left: 0;
		text-shadow: 0 0 transparent;
	}
	93.3333333333% {
		clip: rect(1000px, 9999px, 1000px, -36px);
		transform: translate3d(0, 0, 0);
		left: 0;
		text-shadow: 0 0 transparent;
	}
	96.6666666667% {
		clip: rect(1000px, 9999px, 1000px, -36px);
		transform: translate3d(0, 0, 0);
		left: 0;
		text-shadow: 0 0 transparent;
	}
	100% {
		clip: rect(1000px, 9999px, 1000px, -36px);
		transform: translate3d(0, 0, 0);
		left: 0;
		text-shadow: 0 0 transparent;
	}
}

@keyframes glitch-anim3 {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
		opacity: 1;
	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: 0;
	}
}
