@keyframes fade-in-drawer {
	0% {
		background-color: rgba(0, 0, 0, 0);
	}
	100% {
		background-color: rgba(0, 0, 0, .8);
	}
}

@keyframes fade-out-drawer {
	0% {
		background-color: rgba(0, 0, 0, .8);
	}
	100% {
		background-color: rgba(0, 0, 0, 0);
	}
}

@media screen and (min-width: 320px) {
	.drawer {
		position: fixed;
		top: 0;
		right: 0;
		height: 100%;
		width: 100%;
		z-index: 9999;
		overflow: hidden;
		opacity: 0;
		pointer-events: none;
		&__overlay {
			display: flex;
			height: 100%;
			background-color: rgba(0, 0, 0, 0);
		}
		&__content {
			display: flex;
			width: 100%;
			transform: translate(100%, 0);
			transition: transform .3s;
			overflow-y: auto;
		}
		.button-close {
			position: absolute;
			top: 0;
			right: 0;
			width: 62px;
			height: 62px;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0;
			background-color: $main-color;
			z-index: 1;
			pointer-events: auto;
			transform: translate(100%, 0);
			transition: transform .3s;
		}
		&_show {
			opacity: 1;
			.drawer__overlay {
				pointer-events: auto;
				background-color: rgba(0, 0, 0, .8);
				animation: fade-in-drawer ease-in-out .3s;
			}
			.drawer__content {
				transform: translate(0, 0);
			}
			.button-close {
				transform: translate(0, 0);
			}
		}
		&_hide {
			opacity: 1;
			.drawer__overlay {
				background-color: rgba(0, 0, 0, 0);
				animation: fade-out-drawer ease-in-out .3s;
			}
			.drawer__content {
				transform: translate(100%, 0);
			}
			.button-close {
				transform: translate(100%, 0);
			}
		}
	}
}

@media screen and (min-width: 1024px) {
	.drawer {
		&__content {
			transition: transform .6s;
		}
		.button-close {
			cursor: pointer;
			transition: transform .6s;
		}
		&_show {
			.drawer__overlay {
				animation: fade-in-drawer ease-in-out .6s;
			}
		}
		&_hide {
			.drawer__overlay {
				animation: fade-out-drawer ease-in-out .6s;
			}
		}
	}
}