@media screen and (min-width: 320px) {
	.form {
		display: flex;
		flex-direction: column;
	}

    .input {
	    display: block;
	    width: 100%;
	    padding: 5px 0;
	    margin-bottom: 30px;
	    font-size: 16px;
	    line-height: 30px;
	    color: #fff;
	    font-family: "Stolzl-Book", sans-serif;
	    box-sizing: border-box;
	    background-color: transparent;
	    border-bottom: 1px solid #fff;
	    transition: border-bottom-color .3s;
    }


    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
	    color: #fff;
    }

    .btn_send {
	    margin-top: 40px;
	    width: 100%;
    }

    .textarea {
	    border: none;
	    border-bottom: 1px solid #fff;
    }

    .label-input_error {
	    .input {
		    border-bottom-color: $main-color;
	    }
	    input::-webkit-input-placeholder,
	    textarea::-webkit-input-placeholder {
		    color: $main-color
	    }
    }
}


@media screen and (min-width: 1024px) {
	.form {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.label-input {
		width: 100%
	}

	.btn_send {
		margin-top: 0;
		margin-left: 15px;
		width: unset;
		&:hover {
			cursor: pointer;
		}
	}

	.wrapper-btn {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 30px;
	}
}


@media screen and (min-width: 1366px) {
	.input {
		margin-bottom: 20px;
	}

	.wrapper-btn {
		margin-top: 25px;
		flex-direction: column;
		align-items: flex-start;
	}

	.btn_send {
		margin-left: 0;
	}
}

@media screen and (min-width: 1700px) {
	.input {
		margin-bottom: 30px;
		font-size: 18px;
		line-height: 36px;
	}

	.wrapper-btn {
		flex-direction: row;
		align-items: center;
	}
}
