@font-face
		font-family: "Stolzl-Book"
		font-display: swap
		src: url('/assets/fonts/Stolzl-Book.otf')
@font-face
		font-family: "Stolzl-Regular"
		font-display: swap
		src: url('/assets/fonts/Stolzl-Regular.otf')
@font-face
		font-family: "Bebas-Tam-Bold"
		font-display: swap
		src: url('/assets/fonts/Bebas-Tam-Bold.ttf')