@keyframes animated-left-out-next {
	0% {
		transform: translate(0, 0);
	}

	40% {
		transform: translate(0, -3000px);
	}
}

@keyframes animated-right-out-next {
	0% {
		transform: translate(0, 0);
	}

	20% {
		transform: translate(0, 70px);
	}

	100% {
		transform: translate(0, -3000px);
	}
}

@keyframes animated-left-in-next {
	0% {
		transform: translate(0, 3000px);
		opacity: 0;
	}

	50% {
		transform: translate(0, 0);
		opacity: 1;
	}
}

@keyframes animated-right-in-next {
	0% {
		opacity: 0;
	}

	30% {
		transform: translate(0, 3000px);
		opacity: 1;
	}

	80% {
		transform: translate(0, 0);
	}
}
//----------------------
@keyframes animated-left-out-prev {
	0% {
		transform: translate(0, 0);
	}

	20% {
		transform: translate(0, -70px);
	}

	100% {
		transform: translate(0, 3000px);
	}
}

@keyframes animated-right-out-prev {
	0% {
		transform: translate(0, 0);
	}

	50% {
		transform: translate(0, 3000px);
	}
}

@keyframes animated-left-in-prev {
	40% {
		transform: translate(0, -3000px);
	}

	80% {
		transform: translate(0, 0);
	}
}

@keyframes animated-right-in-prev {
	0% {
		transform: translate(0, -3000px);
	}

	50% {
		transform: translate(0, 0);
	}
}

.animated-left-out-next {
    animation: animated-left-out-next 1.5s ease-in-out;
}

.animated-right-out-next {
	animation: animated-right-out-next 1.5s ease-in-out;
}

.animated-left-in-next {
	animation: animated-left-in-next 1.5s ease-in-out;
}

.animated-right-in-next {
	animation: animated-right-in-next 1.5s ease-in-out;
}
//----------------------
.animated-left-out-prev {
	animation: animated-left-out-prev 1.5s ease-in-out;
}

.animated-right-out-prev {
	animation: animated-right-out-prev 1.5s ease-in-out;
}

.animated-left-in-prev {
	animation: animated-left-in-prev 1.5s ease-in-out;
}

.animated-right-in-prev {
	animation: animated-right-in-prev 1.5s ease-in-out;
}


@media screen and (min-width: 320px) {
	.gallery-slider {
		position: relative;
		padding: 0 30px 145px 30px;
		.swiper-container {
			position: static;
		}

		.swiper-button-next,
		.swiper-button-prev {
			display: none;
		}

		.wrapper-img {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			position: relative;
			box-sizing: border-box;
			overflow: hidden;
		}

		.img {
			display: block;
			max-width: 100%;
		}

		.slider-leaf {
			align-self: center;
			overflow: hidden;
			width: 100%!important;
			.text {
				display: none;
			}
		}

		.swiper-pagination-progressbar {
			top: unset;
			height: 1px;
			bottom: 73px;
			left: 62px;
			width: calc(100% - 124px);
			z-index: 1;
		}
		.swiper-pagination-progressbar-fill {
			top: -1px;
			height: 3px;
			background-color: #000;
		}

		.swiper-container-initialized {
			.swiper-button-next,
			.swiper-button-prev {
				top: unset;
				bottom: 43px;
				display: block;
				height: 62px;
				width: 62px;
				background: #000 url(/assets/arrow.svg) no-repeat center;
			}
			.swiper-button-prev {
				transform: rotate(180deg);
				left: 0;
			}
			.swiper-button-next {
				right: 0;
			}
			.swiper-button-lock {
				display: none;
			}
		}

		&.single-img {
			padding: 0 30px 30px 30px;
		}
	}

}

@media screen and (min-width: 1024px) {
	.gallery-slider {
		display: flex;
		width: 50%;
		height: calc(var(--vh, 1vh) * 70)!important;
		align-self: center;
		padding: 145px 0;
		margin: auto 0;
		.swiper-container-initialized {
			.swiper-button {
				&-prev {
					bottom: unset;
					top: 60px;
					left: 50%;
					transform: translate(-50%, 0) rotate(-90deg);
				}
				&-next {
					transform: translate(50%, 0) rotate(90deg);
					right: 50%;
					bottom: 40px;
				}
			}
			.swiper-button-disabled {
				opacity: 1;
				background: #90132b url(/assets/arrow.svg) no-repeat center;
			}
		}

		.swiper-pagination-progressbar {
			display: none;
		}

		.slider-leaf {
			display: flex;
			align-items: center;
			height: calc(var(--vh, 1vh) * 70)!important;
		}

		.wrap {
			position: relative;
			overflow: hidden;
			margin: 0 auto;
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
				width: 100%;
				height: 100%;
				background-color: rgba(255, 255, 255, 0);
				transition: background-color .3s;
			}
			&::after {
				content: url('/assets/cross.svg');
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) scale(0);
				display: flex;
				align-items: center;
				justify-content: center;
				width: 63px;
				height: 63px;
				background-color: #000;
				z-index: 1;
				transition: transform .3s;
				line-height: 0;
			}
			&:hover {
				cursor: pointer;
				img {
					--scale-ratio: 1.05;
				}
				&::before {
					background-color: rgba(255, 255, 255, 0.2);
				}
				&::after {
					transform: translate(-50%, -50%) scale(1.05);
				}
			}

			.img {
				transform: scale(var(--scale-ratio));
				transition: transform .3s;
			}
		}

		.wrapper-img {
			border-left: 3px solid rgba(0, 0, 0, 0.3);
			box-sizing: border-box;
			padding: 0 30px;
		}

		&.single-img {
			padding: 0;
		}
	}
}

@media screen and (min-width: 1366px) {
	.wrapper-gallery-slider.slide-single {
		padding: 140px 0;
		.swiper-slide {
			justify-content: flex-start;
		}
	}

	.gallery-slider {
		.swiper-wrapper {
			flex-direction: row;
		}

		.swiper-slide {
			display: flex;
		}
		.slider-leaf {
			flex-direction: column;
			justify-content: center;
			width: 50%!important;
			.text {
				display: flex;
				padding: 0 30px;
				font-size: 18px;
				line-height: 30px;
			}
			&-left {
				justify-content: flex-start;
			}
			&-right {
				justify-content: flex-end;
			}
		}

		.line {
			margin-left: -29px;
		}
	}
}

@media screen and (min-width: 1700px) {
	.gallery-slider {

	}
}