@media screen and (min-width: 320px) {
	.banner-main-page {
		.slider-header {
			position: relative;
			height: calc(var(--vh, 1vh) * 100);
			min-height: calc(var(--vh, 1vh) * 100);
			grid-area: slider-header;
			overflow: hidden;
			box-sizing: border-box;
			background-color: #000;
			color: #fff;
			&::after {
				content: '';
				position: absolute;
				left: calc(var(--vw, 1vw) * -25);
				top: 0;
				width: calc(var(--vw, 1vw) * 25);
				height: 100%;
				background-color: #000;
				z-index: 1;
			}
			.swiper-container, .swiper-wrapper {
				height: 100%;
				z-index: 0;
			}
			.swiper-slide {
				height: unset;
			}
		}
		.swiper-button {
			&-prev,
			&-next {
				top: calc(var(--vh, 1vh) * 70.5);
				display: none;
				align-items: center;
				justify-content: center;
				width: 62px;
				height: 62px;
				padding: 0;
				background-color: $main-color;
				background-image: none;
			}
			&-prev {
				transform: rotate(180deg);
				right: unset;
				left: calc(25% - 62px);
				background-color: darken($main-color, 15%);
			}
			&-next {
				right: unset;
				left: 25%
			}
		}
	}

	.slider-text {
		display: none;
	}

	.slider__leaf {
	    height: 100%;
		width: 100%;
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: center;
	    overflow: hidden;
		&-overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0.15) 43%, rgba(0, 0, 0, 0.15) 48%, transparent 100%, transparent 100%);
		}
		&-wrapper {
			position: relative;
			height: 100%;
			width: 100%;
		}
	}

	.slider-progress {
	    position: absolute;
	    left: 30px;
		right: 30px;
		top: calc(var(--vh, 1vh) * 85);
	    display: flex;
	    align-items: center;
	    justify-content: space-between;
	    letter-spacing: 0.7px;
		&__start,
		&__end {
			position: relative;
			font-size: 16px;
			color: #fff;
		}
		&__fill-overlay {
			position: relative;
			top: -1px;
			display: inline-block;
			height: 1px;
			width: calc(100% - 80px);
			background-color: #fff;
		}
		&__fill-active {
			position: absolute;
			top: -1px;
			display: inline-block;
			height: 3px;
			background-color: #fff;
			transition: width 1s;
		}
	}

	.wrapper-slide-text-header {
	    display: none;
	}
}

@media screen and (min-width: 1024px) {
	.banner-main-page {
		.slider-header {
			height: unset;
			min-height: unset;
			overflow: unset;
			.swiper-container, .swiper-wrapper {
				min-height: unset;
				height: 100%;
				z-index: 0;
			}
		}
		.swiper-button {
			&-prev,
			&-next {
				display: flex;
			}
		}
	}

	.slider-progress {
	    top: calc(var(--vh, 1vh) * 70.5);
	    left: 37%;
		right: unset;
	    width: 33%;
	}

	.slider-text {
		position: absolute;
		display: flex;
		height: 100%;
		width: 100%;
	    top: 0;
	    left: 0;
	    color: #fff;
		pointer-events: none;
		z-index: 1;
		.swiper-container {
			width: 100%;
		}
		.swiper-slide {
			overflow: hidden;
		}
		.title {
			position: absolute;
			top: calc(18.9vh + 154px);
			left: calc(25vw - 77px);
			margin: 0;
			font-size: 154px;
			line-height: 154px;
			text-transform: uppercase;
			font-weight: normal;
			font-family: $bebas-team-bold, sans-serif;
			white-space: nowrap;
			transform: translate(2000px, 0);
			//transition: transform 1s;
			&:focus {
				outline: none;
			}
		}
	}

	.slider-text.once-start-animate {
		.title {
			transform: translate(0, 0);
			animation: once-animate-fade-in-up-slider-title ease-in-out 1s;
		}
	}

	.swiper-container-fade .swiper-slide-active,
	.swiper-container-fade .swiper-slide-active .swiper-slide-active {
		pointer-events: none;
	}
}

@media screen and (min-width: 1024px) and (min-height: 600px) and (max-width: 1200px) and (max-height: 700px) {
	.slider-text .title {
	    top: calc(12.8vh + 154px);
	}
}

@media screen and (min-width: 1700px) {
	.slider-text .title {
	    top: calc(18vh + 182px);
	    left: calc(25vw - 121px);
	    font-size: 226px;
	    line-height: 226px;
	}

	.slider-progress {
	    width: 333px;
	    left: calc(14.8vw + 330px);
	}
}