@media screen and (min-width: 320px) {
	.list-social {
		position: absolute;
		top: 70.49%;
		left: 40px;
		display: flex;
		margin: 0;
		padding: 0;
		list-style-type: none;
		&__link {
			width: 33px;
			height: 33px;
			margin-right: 30px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}

@media screen and (min-width: 1366px) {
	.list-social {
		left: 65px;
	}
}