@media screen and (min-width: 320px) {
  .page-footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 28px;
    color: #fff;
    box-sizing: border-box;
    background-color: $main-color;

    &__menu {
      display: none;
    }

    .list-social {
      position: absolute;
      top: 110px;
      left: 29px;
    }

    .address,
    .tel {
      display: block;
      font-size: 16px;
      margin-bottom: 15px;
      text-decoration: none;
      color: #fff;
    }

    &-mail {
      position: relative;
      display: inline-block;
      margin-bottom: 50px;
      text-decoration: none;
      font-size: 16px;
      color: #fff;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        display: block;
        width: 100%;
        height: 1px;
        background-color: #fff;
      }
    }

    .address span {
      display: inline-block;
      width: 100%;
      font-size: 16px;
      line-height: 24px;
    }
  }

  .copyright {
    position: relative;
    padding-left: 20px;
    margin-bottom: 100px;
    margin-top: 40px;
    font-size: 16px;
    line-height: 24px;

    &::before {
      content: "\00a9";
      position: absolute;
      top: 2px;
      left: 0;
      display: block;
      font-size: 20px;
    }
  }

  .logo-footer {
    display: inline-block;
    margin-bottom: 40px;
    text-decoration: none;
    color: #fff;

    span {
      display: block;
      margin-bottom: 10px;
      font-size: 14px;
    }

    svg {
      width: 140px;
      height: auto;
    }
  }

  .developer-date {
    position: absolute;
    right: 28px;
    bottom: 40px;
    font-size: 14px;
  }
}

@media screen and (min-width: 1024px) {
  .page-footer {
    flex-direction: row;
    align-items: stretch;
    padding: 0 30px;

    &__menu {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    &__column {
      flex-basis: 25%;
      padding: 40px 20px;
      border-right: 1px solid;
      border-color: rgba(144, 19, 43, 0.4);
      box-sizing: border-box;

      &:first-child {
        padding-left: 0;
      }

      &:nth-child(4) {
        border-right: none;
        padding-right: 0;
        display: flex;
        flex-direction: column;
      }

      &:nth-child(2) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }

    .menu-item {
      font-size: 16px;
      line-height: 24px;

      a {
        margin-bottom: 0;
      }
    }

    .address {
      line-height: 24px;
      margin-bottom: 25px;
      font-size: 15.5px;

      br {
        display: inline-block;
      }
    }

    &-mail {
      position: relative;
      top: unset;
      right: unset;
      margin-bottom: 0;
      margin-top: auto;
    }

    .list-social {
      top: unset;
      bottom: 40px;
      left: 30px;
    }

    .copyright {
      margin-top: 0;
      margin-bottom: 70px;
    }

    .developer-date {
      position: static;
      font-size: 16px;
    }

    .logo-footer {
      margin-bottom: auto;

      span {
        font-size: 16px;
      }
    }
  }
  .custom-code {
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 1px;
    height: 1px;
  }
}

@media screen and (min-width: 1366px) {
  .page-footer {
    .address,
    .tel,
    &-mail,
    .menu-item {
      font-size: 18px;
      line-height: 30px;
    }

    .address {
      margin-bottom: 5px;

      span {
        position: relative;
        width: auto;
        font-size: 18px;
        line-height: 30px;

        &:last-child {
          padding-left: 10px;

          &::before {
            content: ',';
            position: absolute;
            bottom: 0;
            left: 0;
          }
        }
      }
    }

    .tel {
      margin-bottom: 5px;
    }

    &-mail {
      margin-bottom: 30px;

      &::before {
        bottom: 2px;
      }
    }

    .logo-footer span {
      font-size: 18px;
      line-height: 30px;
    }

    .developer-date {
      font-size: 18px;
    }

    .list-social {
      position: static;
    }
  }

  .copyright {
    font-size: 18px;
    line-height: 30px;
  }
}

@media screen and (min-width: 1700px) {
  .page-footer {
    padding: 0 110px;

    .address,
    .tel,
    &-mail,
    .menu-item {
      font-size: 22px;
      line-height: 36px;
    }

    &__column {
      flex-basis: 25%;
      padding: 70px 42px;
    }

    .address {
      span {
        font-size: 22px;
        line-height: 36px;
      }
    }

    .logo-footer span {
      font-size: 22px;
      line-height: 36px;
    }

    .developer-date {
      font-size: 22px;
    }

    &__menu {
      display: block;
      columns: 2;
      .menu-item {
        width: 50%;
      }
    }
  }

  .copyright {
    font-size: 22px;
    line-height: 36px;
  }
}