@media screen and (min-width: 320px) {
	.overlay-header-menu {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0);
		z-index: 11;
		pointer-events: none;
		transition:  background-color .3s;
	}

	.page-header {
		position: relative;
		z-index: 12;
	}

	.header__menu {
		position: absolute;
		display: flex;
		top: 0;
		right: -100%;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 25px 0 0 30px;
		flex-direction: column;
		align-items: flex-start;
		background-color: $main-color;
		list-style-type: none;
		box-sizing: border-box;
		transform: translate3d(0, 0, 0);
		transition: transform 0.3s ease-in-out;
		z-index: 10;
	}

	.logo {
		position: absolute;
		z-index: 1;
		top: 25px;
		left: 30px;
		display: block;
		width: 152px;
		height: 43px;
	}

	.wrapper-tel {
		position: absolute;
		z-index: 1;
		width: 37px;
		height: 37px;
		top: 92px;
		right: 10px;
		a {
			text-decoration: none;
			color: #fff;
			font-size: 18px;
			letter-spacing: 0.77px;
		}
		.city, .tel {
			display: none;
		}
		.tel-icon {
			width: 100%;
		}
		.divider {
			position: relative;
			top: 0;
			right: 0;
			padding: 0 15px;
			display: none;
			width: 2px;
			height: 24px;
			&::after {
				content: "";
				position: relative;
				top: 0;
				display: inline-block;
				width: 100%;
				height: 100%;
				background-color: #fff;
			}
		}
	}

	.menu-item a {
		display: inline-block;
		margin-bottom: 15px;
		color: #fff;
		text-decoration: none;
		&:hover {
			cursor: pointer;
		}
	}

	.page-header.show-menu {
		.overlay-header-menu {
			background-color: rgba(0, 0, 0, 0.7);
			pointer-events: all;
		}
		.header__menu {
			transform: translate3d(-100%, 0, 0);
		}
	}
}

@media screen and (min-width: 1024px) {
	.logo {
		top: 45px;
		left: 40px;
		width: 175px;
		height: 49px;
	}

	.header__menu {
		right: -50%;
		width: 50%;
	}

	.wrapper-tel {
		top: 115px;
	}
	.page-header.show-menu {
		.header__menu {
			right: calc(-50% - (var(--scBarWidth, 0px) / 2));
			width: calc(50% + (var(--scBarWidth, 0px) / 2));
			transform: translate3d(-100%, 0, 0);
		}
	}
}

@media screen and (min-width: 1366px) {
	.logo {
		top: 70px;
		left: 65px;
		width: 221px;
		height: 62px;
	}

	.wrapper-tel {
		display: flex;
		align-items: center;
		top: 88px;
		right: 120px;
		width: unset;
		height: unset;
		color: #fff;
		.divider {
			display: inline-block;
		}
		a {
			text-decoration: none;
			color: #fff;
			letter-spacing: .77px;
		}
	}

	.city {
		display: block;
		position: relative;
		letter-spacing: .77px;
	}

	.tel-icon {
		display: none;
	}

	.wrapper-tel {
		.tel, .city {
			display: block;
		}
	}
}

@media screen and (min-width: 1700px) {
	.overlay-header-menu {
		position: absolute;
		pointer-events: none;
	}

	.header__menu {
		left: 28vw;
		top: 91px;
		flex-direction: row;
		height: auto;
		padding: 0;
		margin: 0;
		background-color: transparent;
		pointer-events: all;
	}

	.menu-item {
		margin-right: 40px;
		&:last-child {
			margin-right: 0;
		}
		a {
			margin-bottom: 0;
		}
	}

	.wrapper-tel {
		right: 70px;
	}
}