.cssload-container {
    width: 100%;
    height: 49px;
    text-align: center;
}

.cssload-tube-tunnel {
    width: 49px;
    height: 49px;
    margin: 0 auto;
    border: 4px solid;
    border-radius: 50%;
    border-color: rgb(0, 0, 0);
    animation: cssload-scale 1035ms infinite linear;
}


@keyframes cssload-scale {
    0% {
        transform: scale(0);
        transform: scale(0);
    }
    90% {
        transform: scale(0.7);
        transform: scale(0.7);
    }
    100% {
        transform: scale(1);
        transform: scale(1);
    }
}