@media screen and (min-width: 320px) {
  .bill-page {
    min-height: calc(var(--vh, 1vh) * 100);
    background-color: #fff;
    color: #000;
    .logo {
      z-index: 2;
    }
    .events {
      padding: 30px 25px 37px 25px;
      min-height: unset;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(264px, 1fr));
      grid-gap: 30px 50px;
      box-sizing: border-box;
      &__item {
        display: flex;
        flex-direction: column;
        align-items: start;
        text-decoration: none;
        color: #000;
        .img {
          width: 100%;
          height: calc(var(--vw, 1vw) * 56.6);
          margin-bottom: 15px;
          img {
            display: block;
            object-fit: cover;
            max-width: 100%;
            width: 100%;
            height: 100%;
          }
        }
        .date {
          font-size: 18px;
          line-height: 26px;
          color: #B41836;
          font-weight: 600;
          white-space: pre-wrap;
        }
        .title {
          margin-top: 5px;
          font-size: 18px;
          line-height: 26px;
          font-weight: 600;
          white-space: pre-wrap;
        }
      }
      &__archive-btn {
        position: relative;
        display: inline-flex;
        flex-direction: column;
        width: 100%;
        height: calc(var(--vw, 1vw) * 56.6);
        padding: 0;
        border: none;
        background-color: $main-color;
        color: #fff;
        overflow: hidden;
        .title {
          width: 100%;
          display: inline-block;
          transform: translateX(-15px);
          font-size: 140px;
          line-height: 91px;
          font-family: $bebas-team-bold;
          text-align: left;
        }
        .description {
          width: 100%;
          display: inline-block;
          margin-top: auto;
          padding: 20px 0 20px 20px;
          text-align: left;
          font-size: 18px;
          line-height: 26px;
          box-sizing: border-box;
        }
      }
    }

    .events-old {
      padding: 0 25px 37px 25px;
      box-sizing: border-box;
      background-color: #000;
      color: #fff;
      .filter {
        display: flex;
        margin-bottom: 54px;
        width: 100%;
        overflow-x: auto;
        box-sizing: border-box;
        &__btn {
          padding: 9px 28px;
          margin-right: 5px;
          font-size: 24px;
          line-height: 36px;
          text-transform: uppercase;
          background-color: transparent;
          color: #fff;
          transition: background-color .3s;
          &_active {
            background-color: $main-color;
          }
        }
      }
      .events__item {
        color: #fff;
        .date {
          color: #B7B7B7 ;
        }
      }
      &-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(264px, 1fr));
        grid-gap: 30px 50px;
      }
    }
  }

  .open-event-link {
    display: none;
    position: absolute;
    width: 65px;
    height: 65px;
    background-color: $main-color;
    bottom: 0;
    right: 0;
    z-index: 2;
    &::before {
      content: url(/assets/cross.svg);
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 0;
    }
  }

  .banner {
    display: flex;
    flex-direction: column;
    min-height: 375px;
    position: relative;
    padding: 0 30px 0 25px;
    box-sizing: border-box;
    color: #fff;
    background-color: #000;
    background-position: 50% 50%;
    background-size: cover;
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.4);
    }
    &__header {
      position: relative;
      margin: auto 0 0 0;
      padding: 177px 0 0 0;
      font-family: $bebas-team-bold;
      font-size: 100px;
      color: #fff;
      z-index: 1;
    }
    &__date {
      position: relative;
      padding-left: 10px;
      font-size: 18px;
      line-height: 26px;
      z-index: 1;
    }
    &__title {
      position: relative;
      padding-left: 10px;
      margin: 10px 0 -6px 0;
      font-size: 18px;
      line-height: 24px;
      text-transform: uppercase;
      z-index: 1;
      white-space: pre-wrap;
    }
  }
}

@media screen and (min-width: 1024px) {
  .bill-page {
    .events {
      padding: 70px 25px 37px 25px;
      grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
      grid-gap: 30px 55px;
      &__archive-btn {
        height: calc(var(--vw, 1vw) * 19);
        transition: background-color .3s;
        &:hover {
          cursor: pointer;
          background-color: #000;
        }
      }
      &__item {
        .img {
          height: calc(var(--vw, 1vw) * 19);
        }
      }
    }

    .events-old {
      &-grid {
        grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
        grid-gap: 30px 55px;
      }
      .filter {
        padding-left: 120px;
        &__btn {
          margin-right: 15px;
          transition: background-color .3s;
          &:not(:first-child) {
            display: inline-block;
          }
          &:hover {
            cursor: pointer;
            background-color: darken($main-color, 10%);
          }
        }
      }
    }
  }

  .open-event-link {
    display: block;
    transition: background-color .3s;
    &:hover {
      background-color: darken($main-color, 8%);
    }
  }

  .banner {
    flex-direction: row;
    padding: 0 30px 0 40px;
    &__header {
      padding: 270px 0 0 0;
      margin-right: 80px;
      font-size: 154px;
      line-height: 115px;
    }
    &__title {
      margin: 10px 0 -7px 0;
      font-size: 24px;
      line-height: 30px;
      font-weight: 500;
    }
    &-text-wrapper {
      align-self: flex-end;
      max-width: 376px;
    }
  }
}

@media screen and (min-width: 1366px) {
  .bill-page {
    .events {
      grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
      padding: 70px 25px 52px 30px;
      grid-gap: 55px 40px;
      &__item {
        .date {
          font-size: 20px;
          line-height: 36px;
        }
        .title {
          font-size: 20px;
          line-height: 30px;
        }
      }
      &__archive-btn {
        align-self: flex-start;
      }
      &-old {
        padding: 0;
        &-grid {
          grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
          padding: 16px 25px 52px 30px;
          grid-gap: 55px 40px;
        }
      }
    }
  }

  .banner__title {
    margin: 10px 0 -8px 0;
    font-size: 35px;
    line-height: 40px;
  }
  .banner-text-wrapper {
    max-width: 520px;
  }
}

@media screen and (min-width: 1700px) {
  .bill-page {
    .events {
      grid-template-columns: repeat(auto-fill, minmax(426px, 1fr));
      grid-gap: 48px;
      &__item {
        .img {
          height: calc(var(--vw, 1vw) * 15.3);
        }
      }
      &__archive-btn {
        height: calc(var(--vw, 1vw) * 15.3);
        &::before {
          content: '';
          background-image: url(/assets/cross.svg);
          background-repeat: no-repeat;
          background-size: 45px;
          background-position: center;
          position: absolute;
          bottom: 0;
          right: 0;
          width: 65px;
          height: 65px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #000;
          transition: background-color .3s;
          line-height: 0;
        }
        &:hover::before {
          background-color: $main-color;
        }
        .title {
          font-size: 220px;
        }
        .description {
          padding: 20px 0 56px 40px;
          font-size: 24px;
        }
      }
      &-old-grid {
        grid-template-columns: repeat(auto-fill, minmax(426px, 1fr));
        grid-gap: 48px;
      }
    }
  }

  .banner {
    padding: 0 30px 0 65px;
    &__header {
      margin-right: 180px;
      font-size: 227px;
      line-height: 170px;
    }
    &__date {
      font-size: 24px;
      line-height: 36px;
    }
    &__title {
      margin: 10px 0 -13px 0;
      font-size: 50px;
      line-height: 60px;
    }
    &-text-wrapper {
      max-width: 777px;
    }
  }

  .open-event-link {
    padding: 13px 33px;
    width: auto;
    height: auto;
    font-size: 24px;
    line-height: 36px;
    text-decoration: none;
    color: #fff;
    &::before {
      position: static;
      content: "Подробнее";
      line-height: unset;
    }
  }
}