@media screen and (min-width: 320px) {
  .company-page {
    .banner {
      min-height: 375px;
      background-color: #000;
      background-position: 50% 50%;
      background-size: cover;
    }
    .name {
      margin-top: 0;
      font-size: 24px;
      line-height: 36px;
      white-space: pre-wrap;
    }
    .content {
      padding: 42px 27px 42px 24px;
      background-color: #fff;
      color: #000;
    }
    .company-location {
      margin-bottom: 18px;
      font-size: 18px;
      line-height: 24px;
      &__icon {
        display: none;
        margin: 5px 0 25px 0;
      }
      &__text {
        .company-location__icon {
          display: block;
        }
      }
    }
    .links-block {
      &__header {
        margin-bottom: 10px;
      }
      &__item {
        margin-bottom: 20px;
      }
      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
      }
      li {
        margin-bottom: 10px;
      }
      a {
        text-decoration: none;
        color: #b41836;
      }
    }
    .company-text {
      margin: 23px 0;
      font-size: 16px;
      line-height: 26px;
      white-space: pre-wrap;
    }
    .company-contacts-block {
      &-header {
        margin-top: 0;
        margin-bottom: 24px;
        font-size: 24px;
        line-height: 36px;
        white-space: pre-wrap;
        font-weight: bold;
      }
      &__item {
        display: block;
        color: inherit;
        margin-bottom: 18px;
        font-size: 18px;
        line-height: 24px;
        text-decoration: none;
      }
    }
    .check-in-date {
      margin-bottom: 20px;
      color: #b41836;
      font-size: 18px;
      line-height: 24px;
    }
    .gallery {
      position: relative;
      padding-bottom: 99px;
      .swiper-container {
        position: static;
      }
      .swiper-button-prev,
      .swiper-button-next {
        bottom: 0;
        top: unset;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 64px;
        height: 64px;
        background-color: #000;
        background-image: none;
        z-index: 11;
        transition: background-color .3s;
        &[disabled] {
          background-color: $main-color;
        }
      }
      .swiper-button-prev {
        transform: rotate(180deg);
        left: -24px;
      }
      .swiper-button-next {
        right: -27px;
      }
      .swiper-slide {
        img {
          max-width: 100%;
          display: block;
          width: 100%;
        }
      }
      .swiper-pagination {
        top: unset;
        bottom: 30px;
        left: 40px;
        height: 1px;
        width: calc(100% - 77px);
        .swiper-pagination-progressbar-fill {
          height: 3px;
          top: -1px;
          background: #000;
        }
      }
      &.no-controls {
        padding-bottom: 0;
        .swiper-pagination {
          display: none;
        }
        .swiper-button-prev,
        .swiper-button-next {
          display: none;
        }
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  .company-page {
    .banner {
      min-height: 386px;
    }
    .content {
      display: flex;
      padding: 82px 30px 82px 40px;
      &__text-wrapper {
        width: 50%;
        margin-right: 73px;
      }
    }
    .company-text {
      margin-top: 0;
      font-size: 18px;
      line-height: 24px;
    }
    .links-block {
      display: flex;
      margin-bottom: 24px;
      &__item {
        flex: 1 0 auto;
        margin-bottom: 0;
      }
    }
    .company-location {
      margin-bottom: 24px;
      display: flex;
    }
    .name {
      font-size: 24px;
      line-height: 30px;
    }
    .gallery {
      width: 50%;
      align-self: flex-start;
      .swiper-button-prev {
        left: 0;
      }
      .swiper-button-next {
        right: 0;
      }
      .slider-leaf {
        img {
          transition: transform .3s;
        }
        .wrapper-img {
          overflow: hidden;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0);
            transition: background-color .3s;
            z-index: 1;
          }
          &::after {
            content: url(/assets/cross.svg);
            position: absolute;
            top: 50%;
            left: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 65px;
            height: 65px;
            margin-top: -32px;
            margin-left: -32px;
            background-color: #000;
            transform: scale(0);
            transition: transform .3s;
            z-index: 1;
            line-height: 0;
          }
        }
        &:hover {
          cursor: pointer;
          img {
            transform: scale(1.05);
          }
          .wrapper-img {
            &::before {
              background-color: rgba(255, 255, 255, 0.2);
            }
            &::after {
              transform: scale(1);
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1366px) {
  .company-page {
    .banner {
      padding: 0 30px 0 65px;
    }
    .name {
      font-size: 35px;
      line-height: 40px;
    }
    .company-location {
      align-items: center;
      &__text {
        width: 300px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        .company-location__icon {
          display: none;
        }
      }
      &__icon {
        display: inline-flex;
        margin: 0 0 0 25px;
        circle {
          transition: fill .5s;
        }
        &:hover {
          cursor: pointer;
          circle {
            fill: #b41836;
          }
        }
      }
    }
    .links-block {
      &__item {
        flex: unset;
        max-width: 200px;
        width: 100%;
      }
    }
  }
}
@media screen and (min-width: 1700px) {
  .company-page {
    .banner {
      min-height: 498px;
    }
    .content {
      padding: 84px 30px 82px 117px;
      &__text-wrapper {
        margin-right: 143px;
      }
    }
    .name {
      font-size: 50px;
      line-height: 60px;
    }
    .company-location, .links-block, .company-text, .check-in-date {
      font-size: 22px;
      line-height: 36px;
    }
    .links-block {
      &__item {
        max-width: 250px;
      }
    }
    .company-text {
      margin-bottom: 50px;
    }
    .company-contacts-block {
      margin-bottom: 27px;
      &-header {
        font-size: 50px;
        line-height: 60px;
      }
      &__item {
        font-size: 22px;
        line-height: 36px;
      }
    }
  }
}