@media screen and (min-width: 320px) {
  .companies-page {
    background: #F2F2F2;
    color: #000;

    .banner {
      display: flex;
      flex-direction: column;
      min-height: 237px;
      position: relative;
      padding: 0 30px 0 25px;
      box-sizing: border-box;
      color: #fff;
      background-color: #000;
      background-position: 50% 50%;
      background-size: cover;
      overflow: hidden;

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.4);
      }

      &__header {
        position: relative;
        margin: auto 0 0 0;
        padding: 0;
        font-family: $bebas-team-bold;
        font-size: 100px;
        color: #fff;
        z-index: 1;
        transform: translate(-6px, 21px);
      }
    }

    .content {
      position: relative;
      padding-top: 62px;
    }

    .companies-container {
      padding: 0 20px 18px 26px;
      font-family: "Stolzl-Regular", sans-serif;

      &.tile {
        .location-image {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .company-block__item-text_view-mobile {
          display: none;
        }

        .company-block__item {
          display: none;
        }

        .company-block__item.name {
          display: inline-flex;
        }
      }
    }

    .category-name {
      margin: 26px 0 8px 0;
      font-size: 24px;
      line-height: 36px;
    }

    .company-block {
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;

      .location-image {
        position: relative;
        display: none;
        margin-bottom: 10px;
        padding-top: 100%;
        overflow: hidden;

        img {
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          object-fit: contain;
        }
      }

      &__item {
        display: inline-flex;
        color: #000;
        font-size: 16px;
        line-height: 36px;
        text-decoration: none;

        svg {
          margin-right: 22px;
        }

        &-text {
          display: none;

          &_view-mobile {
            display: block;
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .companies-page {
    .banner {
      padding: 0 30px 0 40px;
      min-height: 385px;
      &__header {
        font-size: 154px;
        line-height: 115px;
        transform: translateY(0px) translateX(14px);
      }
    }

    .content {
      display: flex;
      padding-top: 51px;
    }

    .category-wrapper {
      margin-bottom: 50px;
    }

    .companies-container {
      padding: 0 130px 18px 0;
      margin: -10px 0 0 0;

      &.tile {
        padding: 0 40px 18px 0;
        display: grid;
        flex: auto;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        grid-gap: 0 30px;

        .company-blocks {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: auto;
          grid-gap: 30px;
        }

        .company-block__item.name {
          line-height: 140%;
        }
      }
    }

    .category-name {
      margin: 0 0 23px 0;
      font-size: 35px;
      line-height: 36px;
    }
    .wrapper-link-page {
      width: 100%;
    }
    .company-block {
      &-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &.no-phone {
          justify-content: flex-end;
          .company-block__item:nth-child(2) {
            margin-right: 0;
          }
        }
      }
      &__item {
        circle {
          transition: fill .5s;
        }
        &:hover {
          cursor: pointer;
          circle {
            fill: #b41836;
          }
        }
        &-text {
          display: inline-block;
          font-size: 18px;
          line-height: 36px;
        }
        &:first-child {
          width: auto;
        }
        &:nth-child(2) {
          margin-right: 60px;
        }

        &.phone {
          .company-block__item-text {
            width: 146px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          path {
            transition: fill .5s;
          }
          &:hover {
            path {
              fill: #b41836;
            }
          }
        }

        &.address {
          .company-block__item-text {
            width: 250px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        &.no-icon-map {
          width: 298px;
          &:hover {
            cursor: unset;
          }
        }

        &.name {
          margin-bottom: 13px;
          font-size: 22px;
          line-height: 36px;
        }

        svg {
          margin-right: 0;
          margin-left: 13px;
        }
      }

      .company-block__item-text_view-mobile {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 1366px) {
  .companies-page {
    .content {
      padding-top: 55px;
    }

    .category-wrapper {
      margin-bottom: 40px;
    }

    .companies-container {
      padding: 82px 53px 18px 0;
      box-sizing: border-box;

      &.tile {
        padding: 82px 53px 18px 0;
        .company-blocks {
          grid-template-columns: repeat(4, 196px);
        }

        .wrapper-link-page {
          width: auto;
        }
      }
    }

    .wrapper-link-page {
      display: inline-block;
      width: 351px;
      margin-right: 45px;
    }

    .company-block {
      margin-bottom: 22px;
      &__item:nth-child(2) {
        margin-right: 50px;
      }
      &-row {
        flex-wrap: nowrap;
        &.no-phone {
          .wrapper-link-page {
            margin-right: auto;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1700px) {
  .companies-page {
    .banner {
      min-height: 440px;
      &__header {
        transform: translateY(0px) translateX(43px);
        font-size: 227px;
        line-height: 170px;
      }
    }
    .category-wrapper {
      margin-bottom: 66px;
    }
    .category-name {
      margin: 0 0 65px 0;
      font-size: 60px;
      line-height: 36px;
    }

    .company-block {
      & > div {
        display: flex;
      }

      &__item {
        &:nth-child(2) {
          margin-right: 218px;
          margin-left: 0;
        }

        &.name {
          font-size: 24px;
          line-height: 36px;
        }
        &.phone {
          .company-block__item-text {
            width: 200px;
          }
        }
        &.address {
          .company-block__item-text {
            width: 330px;
          }
        }
        &.no-icon-map {
          width: 378px;
        }
      }

      &__item-text {
        font-size: 24px;
        line-height: 36px;
      }
    }

    .wrapper-link-page {
      width: 451px;
      margin-right: 20px;
    }

    .companies-container {
      flex-grow: 1;
      &.tile {
        .company-blocks {
          grid-template-columns: repeat(4, 311px);
        }
      }
    }
  }
}