@media screen and (min-width: 320px) {
  .error-page {
    min-height: calc(var(--vh, 1vh) * 100);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 160px;
    background-color: #000;
    box-sizing: border-box;

    .error-status {
      margin-top: auto;
      margin-bottom: auto;
      font-size: 90px;
      line-height: 146px;
    }

    .page-header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    .page-footer {
      width: 100%;
    }
  }
}