@media screen and (min-width: 320px) {
	.page-event {
		.banner {
			display: flex;
			min-height: 375px;
			&__title, &__date {
				padding-left: 0;
			}
			&__title {
				transform: translateY(0);
				font-size: 18px;
				line-height: 24px;
				font-weight: 500;
				white-space: pre-wrap;
			}
			&__date {
				font-size: 16px;
				line-height: 36px;
			}
			&-text-wrapper {
				display: flex;
				flex-direction: column;
				margin-top: auto;
				padding-bottom: 15px;
			}
		}
	}

	.master-class {
		padding: 42px 27px 42px 24px;
		background-color: #fff;
		color: #000;
		&__name {
			margin-top: 0;
			font-size: 18px;
			line-height: 24px;
			white-space: pre-wrap;
		}
		&__date {
			margin-bottom: 10px;
			font-size: 16px;
			line-height: 26px;
			font-weight: 700;
			color: #B41836;
		}
		&__owner {
			font-size: 16px;
			line-height: 26px;
			color: #000;
			text-decoration: none;
			border-bottom: 1px solid #000;
			&-wrapper {
				margin-bottom: 10px;
			}
		}
		&__where, &__cost, &__tel {
			margin-bottom: 10px;
			font-size: 16px;
			line-height: 26px;
		}
		&__description {
			margin: 23px 0;
			font-size: 16px;
			line-height: 26px;
			white-space: pre-wrap;
		}

		&__gallery {
			position: relative;
			padding-bottom: 99px;
			.swiper-container {
				position: static;
			}
			.swiper-button-prev,
			.swiper-button-next {
				bottom: 0;
				top: unset;
				padding: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 64px;
				height: 64px;
				background-color: #000;
				background-image: none;
				z-index: 11;
				transition: background-color .3s;
				&[disabled] {
					background-color: $main-color;
				}
			}
			.swiper-button-prev {
				transform: rotate(180deg);
				left: -24px;
			}
			.swiper-button-next {
				right: -27px;
			}
			.swiper-slide {
				img {
					max-width: 100%;
					display: block;
					width: 100%;
				}
			}
			.swiper-pagination {
				top: unset;
				bottom: 30px;
				left: 40px;
				height: 1px;
				width: calc(100% - 77px);
				.swiper-pagination-progressbar-fill {
					height: 3px;
					top: -1px;
					background: #000;
				}
			}
		}
	}

	.master-class__gallery.no-controls {
		padding-bottom: 0;

		.swiper-pagination {
			display: none;
		}

		.swiper-button-prev,
		.swiper-button-next {
			display: none;
		}
	}
}

@media screen and (min-width: 1024px) {
	.page-event {
		.banner {
			min-height: 386px;
			&__date {
				font-size: 18px;
				line-height: 36px;
			}
			&__title {
				font-size: 24px;
				line-height: 30px;
			}
			&-text-wrapper {
				padding-bottom: 35px;
			}
		}
	}

	.master-class {
		display: flex;
		padding: 82px 30px 82px 40px;
		&__text-wrapper {
			width: 50%;
			margin-right: 73px;
		}
		&__name {
			font-size: 24px;
			line-height: 30px;
		}
		&__date,
		&__owner,
		&__where,
		&__cost,
		&__tel,
		&__description {
			font-size: 16px;
			line-height: 26px;
		}
		&__gallery {
			width: 50%;
			align-self: flex-start;
			.swiper-button-prev {
				left: 0;
			}
			.swiper-button-next {
				right: 0;
			}
		}

		.slider-leaf {
			img {
				transition: transform .3s;
			}
			.wrapper-img {
				overflow: hidden;
				position: relative;
				&::before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: rgba(255, 255, 255, 0);
					transition: background-color .3s;
					z-index: 1;
				}
				&::after {
					content: url(/assets/cross.svg);
					position: absolute;
					top: 50%;
					left: 50%;
					display: flex;
					align-items: center;
					justify-content: center;
					width: 65px;
					height: 65px;
					margin-top: -32px;
					margin-left: -32px;
					background-color: #000;
					transform: scale(0);
					transition: transform .3s;
					z-index: 1;
					line-height: 0;
				}
			}
			&:hover {
				cursor: pointer;
				img {
					transform: scale(1.05);
				}
				.wrapper-img {
					&::before {
						background-color: rgba(255, 255, 255, 0.2);
					}
					&::after {
						transform: scale(1);
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1366px) {
	.page-event {
		.banner {
			padding: 0 30px 0 65px;
			&__title {
				font-size: 35px;
				line-height: 40px;
			}
			&-text-wrapper {
				padding-bottom: 35px;
			}
		}
		.master-class {
			&__name {
				font-size: 35px;
				line-height: 40px;
			}
			&__date,
			&__owner,
			&__where,
			&__cost,
			&__tel,
			&__description {
				font-size: 18px;
				line-height: 30px;
			}
		}
	}
}

@media screen and (min-width: 1700px) {
	.page-event {
		.banner {
			min-height: 498px;
			&__title {
				font-size: 50px;
				line-height: 60px;
			}
			&__date {
				font-size: 24px;
				line-height: 36px;
			}

			&-text-wrapper {
				padding-bottom: 35px;
			}
		}

		.master-class {
			padding: 90px 30px 136px 40px;
			&__name {
				font-size: 50px;
				line-height: 60px;
			}
			&__date,
			&__owner,
			&__where,
			&__cost,
			&__tel,
			&__description {
				font-size: 22px;
				line-height: 36px;
			}
		}
	}
}