@keyframes animate-title {
	0% {
		opacity: 0;
		transform: translate(-1000px, 0);
	}

	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

@media screen and (min-width: 320px) {
	.page-index {
		.banner-main-page {
			display: grid;
			grid-template-columns: 100%;
			grid-template-areas: "slider-header" "offers";
			position: relative;
			overflow-x: hidden;
			&__title {
				display: none;
				color: #fff;
				&.animate-title {
					transform: translate(0, 0);
					animation: animate-title 1s ease-in-out;
				}
			}
		}

		.mail {
			display: none;
		}

		.col-left {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			min-height:  calc(var(--vh, 1vh) * 100);
			height: 100%;
			display: flex;
			pointer-events: none;
			.list-social {
				display: none;
			}
			&__title {
				position: absolute;
				left: 30px;
				top: calc(var(--vh, 1vh) * 65);
				font-size: 24px;
				white-space: pre-wrap;
			}
		}

		.offers {
			grid-area: offers;
			display: flex;
			flex-direction: column;
			background-color: #b41836;
			color: #fff;
			&__item {
				position: relative;
				padding: 25px 43px 50px 30px;
				border-bottom-width: 1px;
				border-bottom-color: rgba(144, 19, 43, 0.4);
				border-bottom-style: solid;
				font-size: 18px;
				line-height: 30px;
				white-space: normal;
				box-sizing: border-box;
				&:first-child {
					padding-top: 50px;
					&::after {
						top: 30px;
					}
				}
				&:last-child {
					padding-bottom: 35px;
				}
				&::after {
					content: '';
					position: absolute;
					top: -1px;
					left: 30px;
					display: inline-block;
					width: 50px;
					height: 3px;
					background-color: #fff;
				}
			}
		}

		.anchor-link {
			position: absolute;
			left: 50%;
			top: calc(var(--vh, 1vh) * 90);
			z-index: 1;
			display: block;
			width: 62px;
			height: 34px;
			margin-left: -31px;
			&::after, &::before {
				content: "";
				position: absolute;
				display: inline-block;
				width: 30px;
				height: 2px;
				background-color: #ececec;
			}
			&::before {
				left: 67%;
				transform: rotate(45deg) translate(-50%, 37px);
			}
			&::after {
				left: 50%;
				transform: rotate(-45deg) translate(-50%, 7px);
			}
		}
	}
}

@media screen and (min-width: 1024px) {
	.page-index {
		.banner-main-page {
			display: grid;
			position: relative;
			min-height: calc(var(--vh, 1vh) * 100);
			width: 100%;
			grid-template-columns: 25% 75%;
			grid-template-rows: 1fr auto;
			grid-template-areas: "col-left slider-header" "col-left offers";
			&__title {
				display: block;
				position: absolute;
				top: 21vh;
				left: calc(25vw + -165px);
				font-size: 154px;
				font-family: $bebas-team-bold, sans-serif;
				margin: 0;
				text-transform: uppercase;
				font-weight: normal;
				transform: translate(-2000px, 0);
				z-index: 2;
			}
		}

		.mail {
			position: absolute;
			top: calc(var(--vh, 1vh) * 70.5);
			right: 40px;
			display: block;
			font-size: 16px;
			text-decoration: none;
			color: #fff;
		}

		.col-left {
			position: relative;
			grid-area: col-left;
			display: flex;
			flex-direction: column;
			box-sizing: border-box;
			background-color: #000;
			color: #fff;
			z-index: 1;
			overflow: hidden;
			&__title {
				position: absolute;
				bottom: 4%;
				top: unset;
				left: 40px;
				max-width: 210px;
				margin: 0;
				font-size: 22px;
				line-height: 27px;
			}
			.slider-text-glitch {
				width: calc(var(--vw, 1vw) * 100);
				z-index: 2;
				.swiper-slide {
					overflow: hidden;
				}
				.slider-text__leaf {
					opacity: 0;
					animation: glitch-anim3 5s infinite;
				}
			}
			.glitch {
				position: absolute;
				top: calc(18.9vh + 154px);
				left: calc(25vw - 77px);
				margin: 0;
				font-size: 154px;
				line-height: 154px;
				text-transform: uppercase;
				font-weight: normal;
				font-family: $bebas-team-bold, sans-serif;
				white-space: nowrap;
				color: #fff;
				background-color: #000;
				z-index: 1;
				&::after, &::before {
					content: attr(data-text);
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					color: #fff;
					background-color: #000;
					font-size: 154px;
					text-transform: uppercase;
					font-weight: normal;
					font-family: "Bebas-Tam-Bold", sans-serif;
					white-space: nowrap;
				}
				&:before {
					left: 3px;
					text-shadow: -3px 0 red;
					animation: glitch-anim 5s infinite linear alternate-reverse;
					z-index: 2;
				}
				&:after {
					left: -3px;
					text-shadow: -3px 0 blue;
					//animation: glitch-anim2 5s infinite linear alternate-reverse;
					z-index: 1;
				}
			}
		}

		.offers {
			flex-direction: row;
			&__item {
				padding: 25px 29px 25px 30px;
				width: calc(100% / 3);
				border-bottom: none;
				border-left-width: 1px;
				border-left-color: rgba(144, 19, 43, 0.4);
				border-left-style: solid;
				font-size: 16px;
				white-space: pre-wrap;
				&:first-child {
					padding-top: 25px;
				}
				&::after {
					display: none;
				}
			}
		}

		.anchor-link {
			display: none;
		}
	}
}

@media screen and (min-width: 1024px) and (min-height: 600px) and (max-width: 1200px) and (max-height: 700px) {
	.page-index {
		.banner-main-page {
			&::before {
				top: calc(15.6vh + 159px);
			}
			&__title {
				top: 17vh;
			}
		}
	}
}

@media screen and (min-width: 1366px) {
	.page-index {
		.offers {
			&__item {
				padding: 25px 29px 25px 86px;
				font-size: 18px;
				&:first-child {
					&::after {
						top: 38px;
					}
				}
				&::after {
					top: 38px;
					display: block;
					width: 32px;
					height: 3px;
				}
			}
		}

		.col-left {
			&__title {
				font-size: 28px;
				left: 65px;
			}
			.list-social {
				display: flex;
				pointer-events: auto;
			}
		}
	}
}

@media screen and (min-width: 1366px) and (min-height: 610px) {
	.page-index {
		.offers__item {
			padding: 20px 29px 20px 86px;
			font-size: 16px;
			line-height: 26px;
		}
	}
}

@media screen and (min-width: 1700px) {
	.page-index {
		.banner-main-page {
			&::before {
				top: calc(20vh + 199px);
				height: 190px;
			}
			&__title {
				top: 18vh;
				left: calc(25vw + -250px);
				font-size: 226px;
				line-height: 226px;
			}
		}

		.mail {
			right: 70px;
			font-size: 18px;
		}

		.col-left {
			&__title {
				font-size: 32px;
				line-height: 36px;
			}
			.glitch {
				top: calc(18vh + 182px);
				left: calc(25vw - 121px);
				font-size: 226px;
				line-height: 226px;
				&::before, &::after {
					font-size: 226px;
					line-height: 226px;
				}
			}
		}

		.offers__item {
			padding: 42px 75px 2.5% 135px;
			font-size: 22px;
			line-height: 36px;
			&:first-child {
				padding-top: 42px;
				&::after {
					top: 55px;
				}
			}
			&::after {
				width: 50px;
				top: 55px;
				left: 47px;
			}
		}
	}
}