@media screen and (min-width: 320px) {
  .rent-page {
    min-height: calc(var(--vh, 1vh) * 100);
    background-color: #fff;
    color: #000;
    .logo {
      z-index: 2;
    }
    .banner {
      display: flex;
      flex-direction: column;
      min-height: 375px;
      position: relative;
      padding: 0;
      color: #fff;
      background-color: #000;
      background-position: 50% 50%;
      background-size: cover;
      box-sizing: border-box;
      overflow: hidden;
      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.4);
      }
      &__header {
        position: relative;
        margin: auto 0 0 0;
        padding: 0;
        transform: translateY(21px) translateX(18px);
        font-family: $bebas-team-bold;
        font-size: 100px;
        color: #fff;
        z-index: 1;
      }
    }
  }
  .rent-grid-container {
    padding: 30px 25px 37px 25px;
    min-height: unset;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(264px, 1fr));
    grid-gap: 30px 50px;
    box-sizing: border-box;
    &__item {
      display: flex;
      flex-direction: column;
      align-items: start;
      text-decoration: none;
      color: #000;
      .img {
        width: 100%;
        height: calc(var(--vw, 1vw) * 56.6);
        margin-bottom: 15px;
        img {
          display: block;
          object-fit: cover;
          max-width: 100%;
          width: 100%;
          height: 100%;
        }
      }
      .title {
        margin-top: 5px;
        font-size: 18px;
        line-height: 26px;
        font-weight: 600;
        white-space: pre-wrap;
      }
      .cost {
        display: flex;
        align-items: center;
        color: #B41836;
        font-size: 24px;
        line-height: 36px;
        font-weight: 600;
        &__divider {
          margin: 0 15px;
          align-self: stretch;
          width: 3px;
          background: #000;
          transform: scale(1, 0.55);
          box-sizing: border-box;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .rent-page {
    .banner {
      padding: 0 30px 0 40px;
      &__header {
        font-size: 154px;
        line-height: 115px;
        transform: translateY(0px) translateX(0);
      }
    }
  }
  .rent-grid-container {
    padding: 70px 25px 37px 25px;
    grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
    grid-gap: 30px 55px;
    &__item {
      .img {
        height: calc(var(--vw, 1vw) * 19);
      }
    }
  }
}

@media screen and (min-width: 1366px) {
  .rent-grid-container {
    grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
    padding: 70px 25px 52px 30px;
    grid-gap: 55px 40px;
    &__item {
      .cost {
        font-size: 20px;
        line-height: 36px;
      }
      .title {
        font-size: 20px;
        line-height: 30px;
      }
    }
  }
}

@media screen and (min-width: 1700px) {
  .rent-page {
    .banner {
      padding: 0 30px 0 65px;
      min-height: 440px;
      box-sizing: border-box;
      &__header {
        margin-right: 180px;
        font-size: 227px;
        line-height: 170px;
      }
    }
  }
  .rent-grid-container {
    grid-template-columns: repeat(auto-fill, minmax(431px, 1fr));
    &__item {
      .img {
        height: calc(var(--vw, 1vw) * 15);
      }
    }
  }
}