@media screen and (min-width: 320px) {
	.about {
	    position: relative;
	    min-height: 100vh;
	    color: #fff;
		background-color: $main-color;

		.title {
			margin-bottom: 20px;
			margin-top: 0;
			text-transform: uppercase;
			font-size: 36px;
			font-weight: 100;
			letter-spacing: 0;
			font-family: $stolz-regular, sans-serif;
		}

		.subtitle {
			margin-top: 0;
			margin-bottom: 15px;
			white-space: pre-wrap;
			font-size: 16px;
			line-height: 30px;
		}

		&__col-left {
			padding: 37px 45px 30px 30px;
			box-sizing: border-box;
		}
	}
}

@media screen and (min-width: 1024px) {
	.about {
		position: relative;
		display: flex;

		.title {
			font-size: 50px;
		}

		&__col-left {
			width: 50%;
			padding: 40px 45px 40px 58px;

			.title, .subtitle {
				position: relative;
				z-index: 1;
			}
		}

		.cssload-container {
			width: 50%;
			height: 100%;
			margin-top: auto;
			margin-bottom: auto;

			.cssload-tube-tunnel {
				border-color: #fff;
			}
		}

		.vertical-line-wrapper {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			.line {
				position: absolute;
				top: 0;
				left: 25%;
				height: 100%;
				width: 1px;
				background-color: rgba(144, 19, 43, 0.4);

				&:nth-child(2) {
					left: 50%;
				}

				&:nth-child(3) {
					left: 75%;
				}
			}
		}
	}

	.no-carousel .about__col-left {
		width: 100%;
	}
}

@media screen and (min-width: 1366px) {
	.about__col-left {
		.subtitle {
			font-size: 18px;
			line-height: 30px;
		}
	}
}

@media screen and (min-width: 1700px) {
	.about__col-left {
	    padding: 140px 219px 140px 65px;
		.title {
			margin-bottom: 77px;
			font-size: 60px;
			line-height: 36px;
		}

		.subtitle {
			font-size: 22px;
		}
	}
}