@media screen and (min-width: 320px) {
  .companies-section {
    display: flex;
    flex-direction: column;
    color: #fff;
    .all-companies {
      display: block;
      margin: 0 35px 57px 27px;
      align-self: center;
      background-color: #000;
      color: #fff;
      font-size: 16px;
      line-height: 62px;
      text-decoration: none;
      text-align: center;
    }
    .wrapper-text {
      background: #B41836;
    }
    &__header {
      margin: 0;
      padding: 44px 35px 15px 27px;
      font-size: 34px;
      text-transform: uppercase;
      box-sizing: border-box;
      white-space: pre-wrap;
    }
    &__description {
      padding: 0 35px 15px 27px;
      font-size: 16px;
      line-height: 26px;
      white-space: pre-wrap;
    }
    &__img {
      background-size: cover;
      width: 100%;
      min-height: 211px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .companies-section {
    flex-direction: row;
    min-height: 608px;
    color: #fff;
    .all-companies {
      margin: auto auto 57px 45px;
      width: 222px;
    }
    &__header {
      margin: 0;
      padding: 64px 0 0 41px;
      font-size: 50px;
    }
    &__description {
      padding: 0 35px 54px 45px;
    }
    &__img {
      width: 50%;
      background-size: cover;
    }
    .wrapper-text {
      display: flex;
      flex-direction: column;
      width: 50%;
      padding-right: 77px;
      box-sizing: border-box;
    }
  }
}

@media screen and (min-width: 1366px) {
  .companies-section {
    .all-companies {
      margin: auto auto 57px 58px;
      font-size: 20px;
      line-height: 62px;
    }
    &__header {
      padding: 84px 0 0 58px;
      font-size: 50px;
    }
    &__header-br {
      &:last-child {
        display: none;
      }
    }
    &__description {
      padding-left: 58px;
      font-size: 18px;
      line-height: 30px;
    }
  }
}

@media screen and (min-width: 1700px) {
  .companies-section {
    &__header {
      padding: 98px 0 0 58px;
      font-size: 60px;
    }
    &__description {
      margin-bottom: 98px;
      padding-bottom: 0;
      font-size: 22px;
      line-height: 36px;
    }
  }
}