@media screen and (min-width: 320px) {
.contacts {
    position: relative;
    padding-bottom: 372px;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 195px);
    color: #fff;
    overflow-y: hidden;
}

.contacts-block {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    margin-bottom: auto;
    padding: 43px 28px;
    box-sizing: border-box;
    order: 2;
}

.contacts-block .wrapper {
	position: relative;
    display: flex;
    flex-direction: column;
}

.contacts-block .title {
    font-size: 36px;
    margin-bottom: 40px;
	margin-top: 0;
}

.contacts-block .address {
	position: relative;
    margin-bottom: 25px;
    letter-spacing: 1px;
}

.contacts-block .address span {
    font-size: 16px;
    margin-bottom: 10px;
    display: inline-block;
}

.contacts-block .address a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
}

.contacts-block-mail {
    display: block;
    margin-bottom: 30px;
}

.contacts-block-mail a {
    position: relative;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
}

.contacts-block .message {
    margin-bottom: 35px;
    line-height: 30px;
    font-size: 16px;
    white-space: pre-wrap;
}

.contacts_open-map .map::after {
    background-color: transparent;
}

.contacts_open-map .boost-map::before {
    top: 60%;
    left: 15%;
    transform: rotate(45deg);
}

.contacts_open-map .boost-map::after {
    top: 60%;
    right: 19%;
    transform: rotate(-45deg);
}

.map {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 360px;
	background-color: $main-color;
    order: 1;
    z-index: 2;
    transition: all .3s;
}

.map::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: transparent;
    transition: background-color .3s;
    pointer-events: none;
}

[class*="ymaps-2"][class*="-ground-pane"] {
    filter: grayscale(100%);
}

.boost-map {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 50%;
	background-color: $main-color;
    z-index: 2;
    margin-bottom: -31px;
    transform: translate(-50%, 0);
    width: 62px;
    height: 62px;
}

.boost-map::before, .boost-map::after {
    content: "";
    position: absolute;
    top: 38%;
    display: block;
    width: 21px;
    height: 1px;
    background-color: #fff;
    transition: all 0.5s;
}

.boost-map::before {
    left: 13%;
    transform: rotate(-45deg);
    transform-origin: right 0;
}

.boost-map::after {
    right: 18%;
    transform: rotate(45deg);
    transform-origin: left 0;
}
}

@media screen and (min-width: 1024px) {
	.contacts {
	    padding-bottom: 170px;
		&-block {
			flex-direction: row;
			padding: 60px 40px 100px;
			order: 1;
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				display: block;
				background-color: rgba(0, 0, 0, 0);
				transition: background-color .3s;
				z-index: 0;
			}
			&-mail {
				position: static;
				margin-top: auto;
				margin-bottom: 0;
				a::before {
					content: '';
					position: absolute;
					bottom: -2px;
					left: 0;
					width: 100%;
					height: 1px;
					background-color: #fff;
				}
			}
			.mail a {
				font-size: 24px;
			}
			.wrapper {
				width: 50%;
			}
			.title {
				font-size: 50px;
				margin-bottom: 76px;
			}
		}
		&_open-map {
			.map {
				margin-bottom: 0;
			}
			.contacts-block {
				&::before {
					background-color: rgba(0, 0, 0, 0.6);
					z-index: 1;
				}
			}
		}
	}

	.map {
	    height: 600px;
	    margin-bottom: -390px;
	    order: 2;
		&::after {
			background-color: rgba(0, 0, 0, 0.45);
		}
	}

	.boost-map {
		 display: inline-block;
	}
}

@media screen and (min-width: 1366px) {
	.contacts {
	    min-height: 100vh;
	    flex-direction: row;
	    padding-bottom: 0;
	}

	.contacts-block {
	    padding: 60px 90px 40px 100px;
		justify-content: start;
	    width: 50%;
		min-height: 100vh;
	    flex-direction: column;
	    order: 2;
	}

	.contacts-block .title {
	    margin-bottom: 30px;
	    font-size: 50px;
	}

	.contacts-block .address span {
	    font-size: 18px;
	}

	.contacts-block .address a {
	    font-size: 18px;
	}

	.contacts-block .wrapper {
	    width: 100%;
	}

	.contacts-block-mail a {
	    display: inline-block;
	    font-size: 30px;
	    margin-bottom: 30px;
	}

	.contacts-block-mail a::before {
	    content: '';
	    position: absolute;
	    bottom: -2px;
	    left: 0;
	    width: 100%;
	    height: 1px;
	    background-color: #fff;
	}

	.map {
	    position: static;
	    width: 50%;
	    height: unset;
		min-height: 100%;
	    margin-bottom: 0;
	    order: 1;
		transition: unset;
	}

	.map::after {
	    background-color: transparent;
	}

	.boost-map {
	    display: none;
	}
}

@media screen and (min-width: 1700px) {
	.contacts-block {
	    padding: 60px 90px 40px 100px;
	}

	.contacts-block .title {
	    margin-bottom: 50px;
	    font-size: 60px;
	}

	.contacts-block .address {
	    margin-bottom: 40px;
	}

	.contacts-block .address span {
	    font-size: 22px;
	}

	.contacts-block .address a {
	    font-size: 22px;
	}

	.contacts-block-mail a {
	    margin-bottom: 40px;
	    font-size: 36px;
	}

	.contacts-block .message {
	    font-size: 22px;
	    line-height: 36px;
	}
}