@media screen and (min-width: 320px) {
	.events {
		padding: 40px 33px 34px 25px;
		background-color: #fff;
		color: #000;
		box-sizing: border-box;
		&__header {
			margin: 0 0 37px 0;
			font-size: 34px;
			line-height: 36px;
			text-transform: uppercase;
		}
		&__description {
			display: flex;
			flex-direction: column;
			.text {
				margin-top: 0;
				margin-bottom: 30px;
				font-size: 16px;
				line-height: 26px;
				box-sizing: border-box;
				white-space: pre-wrap;
			}
			.all-events {
				display: block;
				width: 100%;
				margin-bottom: 57px;
				align-self: center;
				background-color: #000;
				color: #fff;
				font-size: 16px;
				line-height: 62px;
				text-decoration: none;
				text-align: center;
			}
		}
		&__slider {
			position: relative;
			width: 100%;
			box-sizing: border-box;
			padding-bottom: 94px;
			.btn-prev,
			.btn-next {
				&:hover {
					cursor: pointer;
				}
				&[disabled]:hover {
					cursor: unset;
				}
			}

			.slider-list  {
				&:hover {
					cursor: unset!important;
				}
			}

			.swiper-container {
				position: static;
				.swiper-pagination-progressbar {
					top: unset;
					left: 36px;
					height: 1px;
					bottom: 30px;
					width: calc(100% - 65px);
				}
				.swiper-pagination-progressbar-fill {
					top: -1px;
					height: 3px;
					background-color: #000;
				}
			}

			.slider__item {
				display: block;
				text-decoration: none;
				color: #000;
				.img {
					margin-bottom: 14px;
					height: calc(var(--vw, 1vw) * 56);
					img {
						display: block;
						max-width: 100%;
						height: 100%;
						width: 100%;
						object-fit: cover;
					}
				}
				.date {
					font-family: $stolz-regular;
					font-size: 18px;
					line-height: 36px;
					color: $main-color
				}
				.title {
					margin: 10px 0 5px 0;
					font-family: $stolz-regular;
					font-size: 18px;
					line-height: 26px;
					font-weight: 500;
					white-space: pre-wrap;
				}
				.link {
					position: relative;
					font-size: 18px;
					line-height: 36px;
					color: #666;
					text-decoration: none;
					&::before {
						content: '';
						position: absolute;
						bottom: -2px;
						left: 0;
						width: 100%;
						height: 1px;
						background-color: #666;
					}
				}
				a {
					display: block;
					text-decoration: none;
					color: #000;
				}
			}
		}

		.swiper-button {
			&-prev,
			&-next {
				top: unset;
				bottom: 0;
				width: 62px;
				height: 62px;
				padding: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				background-image: none;
				background-color: $main-color;
				transition: opacity .3s, background-color .3s;
				&[disabled] {
					background-color: #b3b3b3;
				}
			}
			&-prev {
				left: -25px;
				transform: rotate(180deg);
			}
			&-next {
				right: -33px;
			}
		}

		.d-flex {
			flex-direction: column;
		}
	}
	.events.no-slides {
		.events__description {
			width: 100%;
			&::before {
				display: none;
			}
			.all-events {
				margin-bottom: 0;
				margin-top: 40px;
			}
		}
	}
	.events.slider-no-controls {
		.events__slider {
			padding-bottom: 0;
		}
		.swiper-button-prev,
		.swiper-button-next,
		.swiper-pagination-progressbar,
		.events__description::before  {
			display: none;
		}
	}
}

@media screen and (min-width: 1024px) {
	.events {
		min-height: unset;
		padding: 66px 55px 51px 45px;
		&__header {
			margin: 0 0 67px 0;
			font-size: 50px;
			line-height: 36px;
			text-transform: uppercase;
		}
		.d-flex {
			flex-direction: row;
		}
		&__description {
			position: relative;
			width: 30%;
			padding-right: 58px;
			box-sizing: border-box;
			&::before {
				position: absolute;
				content: '';
				bottom: 30px;
				left: 58px;
				width: 100%;
				height: 1px;
				background-color: #000000;
			}
			.text {
				margin-bottom: auto;
			}
			.all-events {
				position: relative;
				padding: 0 32px;
				margin-bottom: 0;
				width: auto;
				align-self: flex-start;
				z-index: 1;
			}
		}
		&__slider {
			width: 70%;
			.swiper-button {
				&-prev {
					left: -0px;
				}
				&-next {
					right: 0px;
				}
			}
			.slider__item {
				.link {
					font-size: 16px;
					line-height: 36px;
				}

				.img {
					height: calc(var(--vw, 1vw) * 19);
				}
			}
			.swiper-slide {
				width: 50%;
				margin-right: 50px;
			}
			.swiper-container {
				.swiper-pagination-progressbar {
					left: 62px;
					width: calc(100% - 124px);
				}
			}
		}
	}
	
}

@media screen and (min-width: 1366px) {
	.events {
		padding: 66px 28px 64px 58px;
		&__header {
			margin: 0 0 66px 0;
			font-size: 60px;
			line-height: 36px;
		}
		&__description {
			.text {
				font-size: 18px;
				line-height: 30px;
			}
			.all-events {
				margin-top: 15px;
				font-size: 20px;
				line-height: 62px;
			}
		}
		&__slider {
			.slider__item {
				.date, .title {
					font-size: 20px;
					line-height: 30px;
				}
				.link {
					font-size: 18px;
					line-height: 36px;
				}
				.img {
					height: calc(var(--vw, 1vw) * 14.2);
				}
			}
			.swiper-slide {
				width: 32%;
				margin-right: 50px;
			}
		}
	}
}

@media screen and (min-width: 1700px) {
	.events {
		&__description {
			width: 23%;
			.text {
				font-size: 22px;
				line-height: 36px;
			}
			.all-events {
				font-size: 24px;
			}
		}
		&__slider {
			width: 77%;
			padding-bottom: 110px;
			.slider__item {
				.img {
					height: calc(var(--vw, 1vw) * 15.2);
				}
				.date, .title {
					font-size: 24px;
					line-height: 36px;
				}
				.title {
					margin-bottom: 30px;
				}
				.link {
					font-size: 22px;
					line-height: 36px;
				}
			}
		}
	}
}