@media screen and (min-width: 320px) {
	.hold-event {
		display: flex;
		flex-direction: column;
		color: #fff;
		&__header {
			margin: 0;
			padding: 44px 35px 15px 27px;
			font-size: 34px;
			text-transform: uppercase;
			box-sizing: border-box;
			white-space: pre-wrap;
		}
		&__description {
			padding: 0 35px 15px 27px;
			font-size: 16px;
			line-height: 26px;
			white-space: pre-wrap;
		}
		&__img {
			background-size: cover;
			width: 100%;
			min-height: 211px;
		}
	}
}

@media screen and (min-width: 1024px) {
	.hold-event {
		flex-direction: row;
		min-height: 608px;
		color: #fff;
		&__header {
			margin: 0;
			padding: 64px 0 0 41px;
			font-size: 50px;
		}
		&__description {
			padding: 0 35px 54px 45px;
		}
		&__img {
			width: 50%;
			background-size: cover;
		}
		.wrapper-text {
			display: flex;
			flex-direction: column;
			width: 50%;
			padding-right: 77px;
			box-sizing: border-box;
		}
	}
}

@media screen and (min-width: 1366px) {
	.hold-event {
		&__header {
			padding: 84px 0 0 58px;
			font-size: 50px;
		}
		&__header-br {
			&:last-child {
				display: none;
			}
		}
		&__description {
			padding-left: 58px;
			font-size: 18px;
			line-height: 30px;
		}
	}
}

@media screen and (min-width: 1700px) {
	.hold-event {
		&__header {
			padding: 98px 0 0 58px;
			font-size: 60px;
		}
		&__description {
			margin-bottom: 98px;
			padding-bottom: 0;
			font-size: 22px;
			line-height: 36px;
		}
	}
}