@media screen and (min-width: 320px) {
	.location {
		padding: 40px 0 0 0;
		color: #fff;
		background-color: #b41836;
		z-index: 11;
		overflow-x: hidden;
		&__header {
			margin: 0 0 29px 0;
			font-size: 34px;
			line-height: 45px;
			text-transform: uppercase;
			box-sizing: border-box;
		}
		&__characteristics {
			display: flex;
			padding: 0 35px 0 27px;
			flex-direction: column;
			box-sizing: border-box;
		}

		.vertical-line-wrapper {
			display: none;
		}

		.characteristics-list {
			padding: 0;
			margin: 0 0 auto 0;
			list-style-type: none;
			.item {
				display: flex;
				flex-direction: column;
				margin-bottom: 40px;
				&__icon {
					width: 56px;
					margin-bottom: 17px;
					display: flex;
					justify-content: flex-start
				}
				&:nth-child(1) {
					svg {
						width: 50px;
						height: 46px;
					}
				}
				&:nth-child(2) {
					svg {
						width: 56px;
						height: 56px;
					}
				}
				&:nth-child(3) {
					svg {
						width: 36px;
						height: 36px;
					}
				}
				&:nth-child(4) {
					svg {
						width: 32px;
						height: 32px;
					}
				}
				&__text {
					margin: 0;
					align-self: flex-start;
					font-size: 16px;
					line-height: 24px;
					white-space: pre-wrap;
				}
			}
		}
		.btn-reserve {
			max-height: 271px;
			padding: 0;
			margin-bottom: 44px;
			line-height: 62px;
			background-color: #b41836;
		}
		.d-flex {
			position: relative;
			flex-direction: column;
			z-index: 1;
		}

		&:nth-child(even) {
			background-color: #90132b;
			.vertical-line-wrapper {
				.line {
					background-color: #b41836;
				}
			}
			.wrapper-img {
				border-color: #b41836;
			}
			.btn-reserve {
				background-color: #90132b;
			}
			.gallery-slider .swiper-button-prev[disabled], 
			.gallery-slider .swiper-button-next[disabled] {
				background-color: #b41836;
			}
		}
	}

}

@media screen and (min-width: 1024px) {
	.location {
		padding: 0;
		.vertical-line-wrapper {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			.line {
				position: absolute;
				top: 0;
				left: 25%;
				height: 100%;
				width: 1px;
				background-color: rgba(144, 19, 43, 0.4);

				&:nth-child(2) {
					left: 50%;
				}

				&:nth-child(3) {
					left: 75%;
				}
			}
		}
		.d-flex {
			flex-direction: row;
		}
		&__characteristics {
			width: 50%;
			padding: 44px 45px 40px 40px;
		}
		.characteristics-list {
			.item {
				flex-direction: row;
				&__icon {
					align-self: flex-start;
					margin-bottom: 0;
				}
				&__text {
					align-self: center;
					margin-left: 29px;
					line-height: 26px;
				}
			}
		}
		&__header {
			font-size: 50px;
			line-height: 65px;
		}
		.btn-reserve {
			width: 306px;
			margin-left: 85px;
			margin-bottom: 0;
			&:hover {
				cursor: pointer;
			}
		}
	}
}

@media screen and (min-width: 1366px) {
	.location {
		&__header {
			margin: 0 0 50px 0;
		}
		&__characteristics {
			padding: 130px 0 40px 58px;
			.characteristics-list {
				padding-right: 45px;
				.item {
					margin-bottom: 30px;
					&__icon {
						justify-content: center;
					}
					&__text {
						margin-left: 43px;
						font-size: 18px;
						line-height: 30px;
					}
				}
			}
		}
		.btn-reserve {
			margin-left: 97px;
			margin-top: 166px;
			margin-bottom: 114px;
		}
		.gallery-slider {
			margin: 0 0 auto 0;
			&.single-img {
				padding: 145px 0;
				.swiper-container {
					margin: 0;
				}
			}
		}
	}
}

@media screen and (min-width: 1700px) {
	.location {
		&__header {
			margin: 0 0 65px 0;
			font-size: 60px;
			line-height: 65px;
		}
		&__characteristics {
			.characteristics-list {
				.item {
					margin-bottom: 34px;
					&__text {
						font-size: 22px;
						line-height: 36px;
					}
				}
			}
		}
		.btn-reserve {
			margin-left: 98px;
		}
		.gallery-slider, .slider-leaf {
			height: calc(var(--vh, 1vh) * 80) !important;
		}
	}
}